@font-face {
  font-family: "Jockey One";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/jockeyone/v15/HTxpL2g2KjCFj4x8WI6AnIHxHA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
}

a {
  text-decoration: none;
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.main-container {
  width: 428px;
  height: 926px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-logo {
  width: 137px;
  height: 56px;
  margin-top: 88px;
  margin-bottom: 93px;
  font-family: "Jockey One";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  color: #0056fe;
}

.input-window {
  width: 342px;
  height: 44px;
  padding: 0;
  margin-bottom: 8px;
  background: #f8f0f0;
  border-radius: 10px;
}

input::placeholder {
  height: 17px;
  padding-top: 14px;
  padding-left: 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8f8989;
}

.button {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(142, 106, 168, 0.4);
}

.login {
  width: 350px;
  height: 47px;
  margin-top: 20px;
  margin-bottom: 21px;
  background: #0339f9;
  border-radius: 10px;
}

.pass-remember-container {
  width: 160px;
  height: 19px;
  margin-bottom: 41px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #0266fb;
}

.lines-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 42px;
}

.line {
  width: 163px;
  height: 0px;
  border: 1px solid #000000;
}

.line ~ span {
  margin-left: 11px;
  margin-right: 17px;
}

.right {
  width: 154px;
}

.create-acc {
  width: 238px;
  height: 44px;
  margin-bottom: 170px;

  background: #07a717;
}

.footer {
  margin-bottom: 36px;
}

.footer a {
  color: black;
}

.footer a:nth-child(2) {
  margin-left: 22px;
  margin-right: 18px;
}
